
{{#each this.items}}
<li>

  <h4>{{title}}</h4>

  {{#if this.projects}}

    <ul class='sk-dropdown-nav_dropdown-element_sub-nav'>

      {{#each this.projects.models}}
        <li>{{this.attributes.title}}</li>
      {{/each}}

    </ul>

  {{/if}}

</li>
{{/each}}
